/*Test Styling */
body {
 	  background-color: lightblue;
}

h1 {
  text-align: center;
  margin: 8px;
}

h2 {
    margin: 7px;
}

p {
  vertical-align: center;
  margin: 0px;
}

/* Other generic Styling */
img {
  border-radius: 4px;
}


#login-button-container{
  padding-top: 17px;
}

.login-button {
    color: white;
    background-color: #333333;
    padding: 10px 70px 10px;
    border-radius: 4px;
}

.login-button:hover{
  background-color: black;
  color: orange;
}

/*Header Styling*/
.header{
    border: 1px solid #000;
    width: 800px;
    height:50px;
    text-align: center;
    margin: auto;
  	background-color: lightgray;
}

#header-title{
    vertical-align: middle;
	  width: 400px;
	  height:50px;
	  float: left;
	  /* background-color: orange; */
}

#header-login{
  width: 200px;
  height: 50px;
  float: right;
  /* background-color: darkgray; */
}

#login-name {
  width: 136px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  font-family: serif;
  float: left;
  margin: 14px 0px 0px 0px;
  overflow: hidden; /*TODO scale on name length*/
}

.login-image{
  float: right;
}

.login-image:hover .login-dropdown{
  /* float: right; */
  display: block;
}

.login-dropdown{
  position: absolute;
  display: none;
  margin-top: -4px;
  margin-left: -24px;
  padding: 5px 10px 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: #555555;
  color: green;
}

.login-dropdown:hover{
  color: orange;
}

.login-dropdown a {
  color: white;
}

.login-dropdown a:hover {
  color: orange;
}





/* #button {
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
} */



/*Navigation bar css */
.navigation{
	  width: 800px;
  	height: 34px;
  	background-color: green;
	  text-align: center;
    margin: 0 auto;
    border: 1px solid #000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
}

li a:hover {
  background-color: #111111;
  color: orange;
}



/* Content */
.content{
  	width: 800px;
    min-height: 100px;
    overflow: hidden;
   	background-color: lightgray;
  	text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #000;

}

#content-img-crop {
  object-fit: cover;
  width: 150px;
  height: 150px;
}


/* top tracks form */
.new-tracks-form {
  float: middle;
}

input[type=text]:focus{
  background-color: lightblue;
}

select:focus {
  background-color: lightblue;
}
