<!doctype html>
<html>
  <head>
    <title>TEST</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

  <body> 
  	
    <div class = "header">
        <div id = "header-title">
          <h1>Bad Spotify API Calls</h1>
        </div>  
      
        <div id = "header-login">
          <div id="pre-login">
            <a href="/login" class="button">Log in.</a>
          </div>
          <div id="post-login">
            <div id="user-profile">
            </div>
          </div>
        </div>
    </div>


    <div class="navigation">
      <ul>
        <li><a href="/" class="button">Home</a></li>        
        <li><a href="/test-page" class="button">Test Page</a></li>
      </ul>
    </div>

  </body>	

</html>  